<h1> Check all the profils </h1>
<% @profils.each do |profil| %>
<h2><%= @profil.full_name %></h2>
<p><%= @profil.actual_job %></p>
<p><%= @profil.company %></p>
<p><%= @profil.description %></p>
<p><%= @profil.dream_job %></p>
<%end%>
